{{> dashboardnavbar}}

<div class="container-lg mt-5">
  <div class="row">
    <div class="col-md-6">
      <form action="/users/avatar" class="mb-3" method="post" enctype="multipart/form-data">
        <div class="d-flex">
          <input type="file" class="form-control form-control-sm" name="avatar">
          <input type="submit" class="btn btn-secondary btn-sm" value="Upload">
          <!-- <input type="submit" class="btn btn-danger btn-sm" value="Delete"> -->
        </div>
      </form>
      <form class="" action="/users/profile" method="post">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control form-control-sm" id="email" name="email" value={{user.email}}>
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control form-control-sm" id="username" name="username" value={{user.username}}>
        <input type="submit" class="btn btn-primary btn-sm mt-3" value="Submit">
      </form>
    </div>
  </div>
</div>
