{{> dashboardnavbar}}

<div class="container-lg mt-5">
  
  <div class="d-flex flex-column mx-auto" style="width: 30rem";>
    <form action="/users/avatar" class="mb-3" method="post" enctype="multipart/form-data">
      <div class="d-flex">
        <input type="file" class="form-control form-control-sm" name="avatar">
        <input type="submit" class="btn btn-secondary btn-sm" value="Upload">
      </div>
    </form>
    <form action="/users/profile?_method=PUT" method="post">
      <label for="email" class="form-label">Email</label>
      <input type="text" id="email" class="form-control form-control-sm" name="email" value={{user.email}}>
      <br>
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" class="form-control form-control-sm" name="username" value={{user.username}}>
      <br>
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" id="firstName" class="form-control form-control-sm" name="firstname" value="{{user.firstname}}">
      <br>
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" id="lastName" class="form-control form-control-sm" name="lastname" value="{{user.lastname}}">
      <br>
      <input type="submit" class="btn btn-primary btn-sm" value="Submit">
    </form>
  </div>

</div>
