<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand me-4 d-none d-lg-flex justify-content-around align-items-center" href="/post">
      <div>
        <img src="/images/logo.png" class="img-fluid" width="50" alt="" />
      </div>
      <div class="ms-2 border-start border-4 border-danger">
        <div class="fs-6 fw-bold ms-1">ICCT Colleges</div>
        <div class="lead fs-6 ms-1">Learning Management System</div>
      </div>
    </a>

    <div class="dropdown">
      <button class="border-0 bg-transparent" type="button" id="dropdownMenu" data-bs-toggle="dropdown">
        <img id="profilePic" class="img-fluid me-2 rounded-circle" width="40" src='./images/profile-picture.jpg'>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"><i class="bi bi-bell-fill"></i>Notification</a></li>
        <li><a class="dropdown-item" href="/settings"><i class="bi bi-gear-fill"></i></i>Settings</a></li>
        <li><a class="dropdown-item" href="/logout"><i class="bi bi-arrow-right-square-fill"></i>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
