{{#if success}}
  <div class="toast-container position-fixed bottom-0 end-0 p-2">
    {{#each success}}
    <div class="toast fade show">
      <div class="toast-header d-flex justify-content-between align-items-center bg-primary-subtle">
        <p class="me-auto mb-0 text-white">Leaning Management System</p>
        <button type="button" class="btn-close text-white" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">{{this}}</div>
    </div>
    {{/each}}
  </div>
{{/if}}

{{#if errors}}
  <div class="toast-container position-fixed bottom-0 end-0 p-2">
    {{#each errors}}
    <div class="toast fade show">
      <div class="toast-header d-flex justify-content-between bg-danger">
        <p class="me-auto mb-0 text-white">Error</p>
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">{{this}}</div>
    </div>
    {{/each}}
  </div>
{{/if}}

{{#if error}}
  <div class="toast-container position-fixed bottom-0 end-0 p-2">
    {{#each error}}
    <div class="toast fade show">
      <div class="toast-header d-flex justify-content-between bg-danger">
        <p class="me-auto mb-0 text-white">Error</p>
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">{{this}}</div>
    </div>
    {{/each}}
  </div>
{{/if}}
