<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand me-4 d-flex justify-content-around align-items-center" href="/">
      <div class="ms-2">
        <div class="fs-6 fw-bold ms-1">Learning Management System</div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item">
          {{> loginModal}}
        </li>
        <li class="nav-item">
          {{> registerModal}}
        </li>
    </div>
  </div>
</nav>
