<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand me-4 d-flex justify-content-around align-items-center" href="/">
      <div class="ms-2">
        <div class="fs-6 fw-bold ms-1">Learning Management System</div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-start align-items-lg-center"> -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item">

          <!-- Login Modal -->
          <button type="button" class="btn px-3 me-3" data-bs-toggle="modal" data-bs-target=#loginModal>Log In</button>
          <div class="modal fade" id="loginModal">
            <div class="modal-dialog">
              <div class="modal-content text-dark">
                {{!-- <div class="modal-header">
                  <h4 class="modal-title" id="loginModalLabel">Login</h4>
                </div> --}}
                <div class="modal-body">

                  <form action="/" method="POST" class="validate" novalidate>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="loginUsername" name="username" placeholder="Username" required />
                      <label for="loginUsername">Username</label>
                      <div class="invalid-feedback">
                        Username is required
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password" required />
                      <label for="loginPassword">Password</label>
                      <div class="invalid-feedback">
                        Password is required
                      </div>
                      {{!-- <p class="text-muted text-end">Forgot Password?</p> --}}
                    </div>
                    <div class="d-grid">
                      <button class="btn btn-primary">Sign In</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">

          <!-- Register Modal -->
          <button type="button" class="btn btn-outline-dark rounded-pill px-4 py-1" data-bs-toggle="modal" data-bs-target=#registerModal>Register</button>
          <div class="modal fade" id="registerModal">
            <div class="modal-dialog">
              <div class="modal-content text-dark">
                {{!-- <div class="modal-header">
                  <h4 class="modal-title" id="registerModalLabel">Register</h4>
                </div> --}}
                <div class="modal-body">

                  <form action="/register" method="POST" class="validate" novalidate>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required/>
                      <label for="email">Email</label>
                      <div class="invalid-feedback">
                        Email is required
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="registerUsername" name="username" placeholder="Username" required/>
                      <label for="registerUsername">Username</label>
                      <div class="invalid-feedback">
                        Username is required
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname" required/>
                      <label for="firstname">Firstname</label>
                      <div class="invalid-feedback">
                        Firstname is required
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname" required/>
                      <label for="lastname">Lastname</label>
                      <div class="invalid-feedback">
                        Lastname is required
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="registerPassword" name="password" placeholder="Password" required/>
                      <label for="registerPassword">Password</label>
                      <div class="invalid-feedback">
                        Password is required
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="repeat-password" name="password2" placeholder="Repeat Password" required/>
                      <label for="repeat-password">Repeat Password</label>
                      <div class="invalid-feedback">
                        Confirm password is required
                      </div>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="terms&Conditions" name="check" required/>
                      <label class="form-check-label mb-3" for="terms&Conditions"> I agree to the Terms & Conditions</label>
                    </div>
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </li>
    </div>
  </div>
</nav>
