{{> navbar}}

<section class="text-white first-intro">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col col-xl-4 text-center text-xl-start">
      <h2 class="fw-bold fs-1">E-Learning is A Better Way Of Learning</h2>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vitae quod, ipsum quos nihil modi possimus quis excepturi ad deserunt consequatur quae saepe nam ipsam facere! Ullam error consequatur sed?</p>
      <button class="btn btn-primary border secondary-blue rounded-pill me-md-3">Learn More</button>
      <button class="btn btn-outline-light rounded-pill">Explore Courses</button>
      </div>
    </div>
  </div>
</section>

<section id="introduction-content">
  <div class="container">
    <div class="row my-5 d-flex  align-items-center text-center text-md-start">
      <div class="col-lg-7">
        <h3 class="fw-bold fs-2">WELCOME TO ICCT COLLEGES</h3>
        <h4 class="fw-bold fs-3">A Global Pinoy Distinction</h5>
        <p class="lead text-muted"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae magnam ipsam dicta doloribus quasi. Temporibus fuga quibusdam accusantium unde, sit nostrum doloribus placeat at, beatae sapiente, deleniti ipsam tempora corporis! Ex, voluptatum. Tempora sed deleniti doloremque, dolor molestias ab qui fugiat voluptate soluta harum alias deserunt nobis ut corporis recusandae fugit iure architecto similique animi ipsam a delectus. Nobis, voluptatum? Voluptates sint ipsum architecto officia laboriosam aperiam asperiores dolor nesciunt, magni temporibus dignissimos minus cupiditate vero dicta nostrum minima magnam quos quasi inventore quisquam eveniet dolores iusto. Laborum, hic recusandae.
        </p>
      </div>
      <div class="col-lg-5">
        <img src="images/image-content.jpg" class="img-fluid image-content first-image ms-md-5" alt="" />
      </div>
    </div>

    <div class="row my-5 d-flex flex-row-reverse  align-items-center text-center text-md-start">
      <div class="col-lg-7">
        <p class="lead text-muted"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae magnam ipsam dicta doloribus quasi. Temporibus fuga quibusdam accusantium unde, sit nostrum doloribus placeat at, beatae sapiente, deleniti ipsam tempora corporis! Ex, voluptatum. Tempora sed deleniti doloremque, dolor molestias ab qui fugiat voluptate soluta harum alias deserunt nobis ut corporis recusandae fugit iure architecto similique animi ipsam a delectus. Nobis, voluptatum? Voluptates sint ipsum architecto officia laboriosam aperiam asperiores dolor nesciunt, magni temporibus dignissimos minus cupiditate vero dicta nostrum minima magnam quos quasi inventore quisquam eveniet dolores iusto. Laborum, hic recusandae.</p>
      </div>
      <div class="col-lg-5">
        <img src="images/image-content.jpg" class="img-fluid image-content second-image ms-md-5" alt="" />
      </div>
    </div>
  </div>
</section>


{{!--<div class="position-absolute bottom-0 end-0 alert alert-success mb-0 p-0 alert-dismissible fade show" role="alert">
  <p class="mb-0">NOTE:</p>
  <ul>
    <li>
      When you register and login you will redirected
      in NOT VERIFIED PAGE
    </li>
    <li>
      To go to other dashboard, login as admin using
      Username: admin Password: admin
      And then edit your role as admin or student so you can
      be allowed to visit admin or student dashboard using
      your account
    </li>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>--}}

{{> messages}}
