{{> navbar}}

{{!-- <div class="alert alert-success mt-5 p-0 alert-dismissible fade show" role="alert">
  <p class="mb-0">NOTE:</p>
  <ul>
    <li>For 1st time register user: You will redirected in NOT VERIFIED PAGE</li>
    <li>
      Want to visit other pages?, use [Username: admin Password: admin],
      change your accounts role, login again to view other pages depending on roles.
    </li>
    <li>I strongly suggest to create two accounts for student and admin for you to see how these accounts work</li>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div> --}}

{{> messages}}
