{{> dashboardnavbar}}

  <div class="alert alert-warning mt-5" role="alert">
    <p class="text-center">You are not yet verified by the admin</p>
  </div>

  <div class="alert alert-warning" role="alert">
    <p class="text-center">To verify yourself, login as [Username: admin Password: admin], change your own accounts role to admin/student, and then login again using your account details.</p>
  </div>

  <div class="alert alert-warning" role="alert">
    <p class="text-center">I strongly suggest to create two accounts for student and admin for you to see how these accounts work</p>
  </div>
  
{{> messages}}
